Package: coverflowmp-dbgsym
Package-Type: ddeb
Source: coverflowmp
Version: 1.0.2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Thomas Theiner <thomas.theiner@gmx.de>
Installed-Size: 1048
Depends: coverflowmp (= 1.0.2)
Section: debug
Priority: optional
Description: debug symbols for coverflowmp
Build-Ids: 9c6b28151ac6c38695ddd18579052cb65033137e
